body {
background:url(img/background-site.jpg)
}

.container {
width:90%;
margin:0 auto;
display:flex;
flex-direction:column;
align-items:center
}

li {
list-style-type:none
}

ul {
padding:0
}

.items li {
color:#fff;
font-size:15px;
font-weight:700;
padding:1ex;
padding-left:5ex;
background-image:url(img/button2.png);
background-repeat:round;
background-size:cover
}

header,main,menu,footer {
width:inherit;
margin:0;
padding:0
}

header {
background:green
}

.category {
padding:1ex;
background:#FFC890;
height:auto;
margin:0
}

menu ul {
margin:0;
display:flex;
flex-direction:row;
justify-content:space-around
}

menu ul li {
color:#fff;
margin:0;
font-weight:700;
font-size:3ex;
background-image:url(img/item2.png);
background-repeat:round;
background-size:auto;
padding:1em 3em
}

main {
display:flex;
flex-direction:row
}

.products,.sub-category {
display:flex;
justify-content:flex-start;
flex-direction:column;
text-align:center;
align-items:center;
width:15%;
height:500px
}

.sub-category {
background:green
}

.products {
background:#90ee90
}

.map-container {
width:70%;
height:500px;
display:flex;
flex-direction:column
}

.choose-content-container {
display:flex;
flex-direction:row
}

.choose-content-container>div {
width:50%;
height:50px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center
}

footer {
padding:2px;
font-size:80%;
background:grey;
color:#fff;
text-align:center
}