body {
background:url(img/background-site.jpg)
}

.container {
width:90%;
margin:0 auto;
display:flex;
flex-direction:column;
align-items:center
}

li {
list-style-type:none;
}

ul {
padding:0;
}

button{
	list-style: none;
	border: none;
	background: none;
}

header,main,menu,aside,footer {
width:inherit;
margin:0 auto;
padding:0;
}

main {
	display: flex;
	flex-direction: row;
}

aside{
	flex-basis: 300px;
	flex-grow: 1;
	align-items: center;
	background: green;
}

header {
background:green;
}

.category {
padding:1ex;
background:#FFC890;
height:auto;
margin:0;
display:flex;
flex-direction:row;
justify-content:space-around;
}

.sub-category, .sub-category button{
	display: none;
}

.sub-category {
	align-items: center;
	align-self: center;
	width: auto;
height:500px;
}

.sub-category button {
color:#fff;
width: 200px;
margin: 1ex;
padding:1em;
font-size: 1em;
font-weight: bold;
background-image:url('img/button 2.0.png');
background-repeat:round;
background-size:cover;
text-align: right;
}

.category button, .sub-category-name{
color:#fff;
margin:0;
font-weight:700;
font-size:3ex;
background-image:url(img/item2.png);
background-repeat:round;
background-size:auto;
padding:1em 3em;
text-align:center;
}

.map-container {
	float: right;
	flex-basis: 70%;
	flex-grow: 4;
height:500px;
display:flex;
flex-direction:column
}

.choose-content-container {
display:flex;
flex-direction:row
}

.choose-content-container>div {
width:50%;
height:50px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center
}

footer {
padding:2px;
font-size:80%;
background:grey;
color:#fff;
text-align:center
}