body {
background:url(img/background-site.jpg)
}

.container {
width:90%;
margin:0 auto;
display:flex;
flex-direction:column;
align-items:center
}

li {
list-style-type:none;
}

ul {
padding:0;
}

button{
	list-style: none;
	border: none;
	background: none;
}

header,main,menu,aside,footer {
width:inherit;
margin:0 auto;
padding:0;
}

main {
	display: flex;
	flex-direction: row;
}

aside{
	flex-basis: 300px;
	flex-grow: 1;
	align-items: center;
	background: #fff;
}

header {
background:green;
}

/*.category {
padding:1ex;
background:#FFC890;
height:auto;
margin:0;
display:flex;
flex-direction:row;
justify-content:space-around;
}*/

.sub-category, .sub-category button{
	display: flex;
}

.sub-category {
	flex-direction: column;
	align-items: center;
	height:auto;
}

.sub-category button {
--color: #000;
--hover: #8cf;
width: 100%;
padding:1em;
font-size: 1em;
font-weight: bold;
text-align: right;
}

.sub-category button:hover {
background: #eee;
}
.sub-category button:focus {
	color: #fff;
	 box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  	/*-webkit-transform: translateY(-0.25em);
          transform: translateY(-0.25em);*/
     background: #4ae;
}

button {
  color: var(--color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

/*.category button, .sub-category-name{
color:#fff;
margin:0;
font-weight:700;
font-size:3ex;
background-image:url(img/item2.png);
background-repeat:round;
background-size:auto;
padding:1em 3em;
text-align:center;
}*/

.map-container {
	float: right;
	flex-basis: 70%;
	flex-grow: 4;
height:500px;
display:flex;
flex-direction:column
}

.choose-container {
display:flex;
justify-content: space-around;
flex-direction:row;
align-items: center;
}

.choose-container button {
width:50%;
height:50px;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center
}

.content-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.content-container .item{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 80%;
	height: auto;
	border: 1px solid grey;
	text-align: center;
	align-items: center;
	border-radius: 3px;
	margin-top: 7px;
	box-shadow: 0 0.5em 0.5em -0.4em  #8cf;
	padding: 7px;
}

.item img{
	margin: 5px;
	border-radius: 100%;
	border: solid 3px #4ae;
}

footer {
padding:2px;
font-size:80%;
background:grey;
color:#fff;
text-align:center;
}